body {
  text-align: right;
  background-color: rgb(250, 250, 250);
  font-family: "Cairo", sans-serif;
}

header {
  text-align: center;
  background-color: rgb(220, 220, 220);
}

main {
  /*width: 60%;*/
  margin: auto;
  /*display: grid;*/
}

.mistakes {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  font-size: 50px;
  box-shadow: 0px 0px 0px 1px black;
}

.cell {
  background-color: rgb(240, 240, 240);
  width: 33.333%;
  height: 33.333%;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 1px black inset;
  text-align: center;
}

.movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  background-color: rgb(220, 220, 220);
  width: 450px;
  margin: 0px auto;
  font-size: 50px;
  margin-top: 1px;
}

.letters {
  letter-spacing: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  background-color: rgb(240, 240, 240);
  width: 450px;
  margin: 0px auto;
}

.letter {
  display: inline-block;
  margin: 5px;
  border: black solid 2px;
  min-height: 50px;
  min-width: 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 25px;
}

.wrong_letter {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.word {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  background-color: rgb(200, 200, 200);
}

.word .letter {
  position: relative;
}

.word .letter div {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letters .letter {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  padding: 0 10px;
}

.letters .letter:hover {
  background-color: rgb(240, 240, 240);
}

@media (max-width: 500px) {
  .mistakes {
    width: 300px;
    height: 300px;
  }
  
  .movie, .mistakes, .letters{
    width: 300px;
  }
}
